.shot-chart-court * {
  fill: transparent;
  stroke: #333;
  stroke-width: 0.3;
}

.shot-chart-court-ft-circle-bottom {
  stroke-dasharray: 1.5, 1;
}

.shot-chart-court-hoop,
.shot-chart-court-backboard {
  z-index: 100;
}

.shot-chart-title {
  font-size: 15%;
  text-transform: uppercase;
}

.legend text {
  font-size: 4.5%;
}

#chart {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  height: inherit;
}

html {
  height: 98%;
}

svg {
  font-family: Arial, sans-serif;
}

#main-content {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

#chart {
  /* margin-right: 68px; */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #4CAF50; /* Green background */
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #4CAF50; /* Green background */
}


.slidecontainer {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */
}

#myRange {
  margin-top: 15px;
}

.dropdown-option {
  font-family: Arial, sans-serif;
}

#dropdown {
  width: 100%;  
  margin-top: 15px;
  /* padding: 20px; */
  font-size: 32px;
}

.chart-container {
  height: 90%;
  margin-right: 180px;
  display: flex;
  flex-direction: column-reverse;
}

#chart {
  height: 100%;
}
/* select {
    padding: 2px 10px;
    border: 1px solid #979997;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
} */

select option {
  justify-content: center;
}

#playerImg {
  height: 300px;
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  margin-top: 50px;
  border-radius: 5%;
}